h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: red;
}

canvas {
    animation-name: mogus;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border: 10px;
    
}

@keyframes mogus {
    from {boxshadow: 1px 1px 38px red;}
    to {boxshadow: 1px 1px 38px yellow;}
}